{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <p><a class="navbar-brand" href="#"><span>Imag</span>inarium v2.0</a></p>
            <p><h5>Sign Up</h5></p>
        </div>

        <!-- Sign Up Form -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn fadeIn fourth" value="Sign Up">
        </form>

        <!-- Remind Passowrd -->
        <div id="d-flex flex-column bd-highlight mb-3 formFooter">
          <a class="p-2 bd-highlight underlineHover" href="#">Log In</a>
          <a class="p-2 bd-highlight underlineHover" href="#">Forgot Password?</a>
        </div>

      </div>
    </div>
{% endblock %}
